html{
  height: 100%;
}
body{
  min-height: 100%;
}
.dashboard-wrapper{
  width: 100%;
  margin-left: 260px;
}
.login-wrapper{
  background:linear-gradient(45deg, blue, purple, skyblue);
  /* height: 100vh; */
  height: 100%;
  overflow: hidden;
}
*{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
.prefect-table{
  text-align: center;
  width: 100%;
}
.prefect-table-heading{
  background: blue;
  color: white;
  
}
.table-items{
  padding: 2rem;
}
@media screen and (max-width:600px){
  .prefect-table{
    margin: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.7rem;
  }
  .dashboard-wrapper{
    width: 100%;
    margin-left: 0px;
  }
  .table-items{
    padding: 1rem;
  }
  .login-wrapper{
    background:linear-gradient(45deg, blue, purple, skyblue);
    height: 100vh;
    /* height: 100%; */
    overflow: hidden;
  }
}

