html{
  height: 100%;
}
body{
  min-height: 100%;
}
.dashboard-wrapper{
  width: 100%;
  margin-left: 260px;
}
.login-wrapper{
  background:linear-gradient(45deg, blue, purple, skyblue);
  /* height: 100vh; */
  height: 100%;
  overflow: hidden;
}
/* *{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
} */
.prefect-table{
  margin: 5px;
  text-align: center;
  width: 100%;
  background: rgb(241, 241, 241);
}
.prefect-table-heading{
  background: blue;
  color: white;
  
}
.table-items{
  padding: 1rem;
}
.register-table{
  background: #DCE1E9;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  overflow-x: auto;
}
.register-table-head{
  /* padding: 1rem; */
  border: 1px solid black;
}
.sidebar-box{
  transition: all 1s ease;
}
.sidebar-active{
  background: linear-gradient(45deg, skyblue, purple, blue);
}
.sidebar-box:hover{
 background: linear-gradient(45deg, skyblue, purple, blue);
}
.student-image{
  width: 250px;
}
.student-table{
  padding: 2rem;
  width: 100%;
  background: white;
  margin-top: 10px;
}
.student-details-list>li{
  padding: 0.5rem;
  list-style-type: none;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
.student-details-list-2>li{
  padding: 0.5rem;
  list-style-type: none;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
}
.text-border{
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, red, blue);
  border-image-slice: 1;
}
@media screen and (max-width:600px){
  .app{
    overflow-x: hidden;
  }
  .prefect-table{
    margin: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.7rem;
  }
  .register-table{
    background: #DCE1E9;
    margin-top: 10px;
    width: 100%;
    overflow: auto;
    font-size: 0.7rem;
  }
  .dashboard-wrapper{
    width: 100%;
    margin-left: 0px;
  }
  .table-items{
    padding: 1rem;
  }
  .login-wrapper{
    background:linear-gradient(45deg, blue, purple, skyblue);
    height: 100vh;
    /* height: 100%; */
    overflow: hidden;
  }
}

